.home {
    height:  100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnv{
    max-width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (orientation:portrait) {
    canvas, .cnv{
        height: 40svh!important;
    }
}